.movie-cover .poster {
    width: 100%;
    border-radius: 5%;
}

.movie-title{
    width: 100%;
}

.rating{
    right:0;
    top:0;
    margin:10px;
    background-color: white;
    color: black;
    padding:3px 8px;
    border-radius: 5px;
}