mat-card {
    max-width: 50%;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    text-align: center;
  }
  .em{
    color: red;
  }


   .mat-mdc-unelevated-button:not(:disabled) {
    background-color:  #1b6ca8;
}


  .emailInput{
    padding-bottom: 2%;
  }
  .topText{
    color: black;
    padding-top: 4%;
  }
  .logo{
    width: 50%;
  }
  
  .header{
    text-align: center;
  
  }
  .fullWidth {
    width: 80%;
  }
  
  .buttonRow {
    padding-top: 4%;
  }
  

  
  .emailInput{
    padding-top: 3%;
  }
  
  
  